<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammad.araysmarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/aray1"
        android:label="Smarthome"
        android:roundIcon="@mipmap/aray1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AratTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaitingActivity"
            android:theme="@style/AratTheme" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/mohammadTheme1" />
        <activity
            android:name=".Floorlist"
            android:label="@string/title_activity_floorlist"
            android:theme="@style/AratTheme" />
        <activity
            android:name=".Otagh"
            android:label="@string/title_activity_otagh"
            android:theme="@style/setting" />
        <activity android:name=".contact" />
        <activity
            android:name=".settings"
            android:theme="@style/setting" />
        <activity android:name=".listview"></activity>
    </application>

</manifest>